.navbar {
  height: 100%;
  background-color: #2e2e2e;
  display: flex;
  z-index: 1; }
  .navbar ul {
    margin: 0; }
    .navbar ul li {
      list-style-type: none;
      padding-right: 2em;
      padding-top: 4vh; }
      .navbar ul li .link {
        color: #cdcdcd;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.2em; }
        .navbar ul li .link:hover {
          color: white; }
