@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  font-family: 'Roboto', sans-serif; }

#root .wrapper {
  display: grid;
  grid-template-columns: 200px 6fr;
  grid-template-rows: 100px 100vh; }
  #root .wrapper .navbar {
    grid-column: 1;
    grid-row: 1 / span 2; }
  #root .wrapper .navbarIcon a {
    display: none; }
  #root .wrapper .content {
    grid-column: 2;
    grid-row: 1;
    padding: 2em; }
  @media (max-width: 50em) {
    #root .wrapper {
      grid-template-columns: 50vw 6fr; }
      #root .wrapper .navbar {
        display: none; }
      #root .wrapper .navbarIcon a {
        display: block;
        grid-column: 1;
        grid-row: 1;
        font-size: 3em;
        padding: .5em 0 0 .6em; }
      #root .wrapper .content {
        grid-column: 1 / span 2;
        grid-row: 2; } }
