@import './imports/fonts'
@import './imports/colors'

#root
	height: 100%
	padding: 0 0 0 0
	margin: 0 0 0 0

	.wrapper
		display: grid
		height: 100%
		grid-template-columns: 200px 6fr
		grid-template-rows: 10% 90%
		
		.navbar
			grid-column: 1
			grid-row: 1 / span 2

		.navbarIcon
			a
				display: none

		.content
			grid-column: 2
			grid-row: 1 / span 2
			padding: 2em

		@media (max-width: 50em)
			grid-template-columns: 50% 6fr
			grid-template-rows: 100px 100%

			.navbar
				grid-column: 1
				grid-row: 1 / span 2
				display: none

			.navbarIcon
				a
					display: block
					grid-column: 1
					font-size: 3em
					padding: .5em 0 0 .6em

				&:hover
					cursor: pointer
					color: $grey

			.content
				grid-column: 1 / span 2
				grid-row: 2